.App {
  text-align: center;
}

.content{
    margin-left: 40px;
    margin-right: 40px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.form-group{
    height:30px;
    text-align: center;
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

fieldset {
    border-radius: 3px;
    border: 1px solid #c5c5c5;
    margin-bottom: 8px;
    background: white;
    padding: 5px;
    clear: both;
}

fieldset legend {
    border: none;
    font-size: 11px;
    line-height: 1em;
    font-weight: bold;
    width: auto;
    padding: 0 2px;
    margin: 0;
    background: transparent;
    text-align: left;
    font-weight: bold;
}

