fieldset {
	border-radius: 3px;
	border: 1px solid #c5c5c5;
	margin-bottom: 8px;
	background: white;
	padding: 5px;
	clear: both;
}

fieldset legend {
	border: none;
	font-size: 11px;
	line-height: 1em;
	font-weight: bold;
	width: auto;
	padding: 0 2px;
	margin: 0;
	background: transparent;
	text-align: left;
	font-weight: bold;
}

.form-group {
    margin-bottom: 6px;
}

.form-horizontal .control-label{
    padding-top: 3px;
}

.form-control {
	height: 25px;
	padding: 0px 8px;
}

.control-label {
	padding-right: 0px;
	font-weight: normal;
}

.package-button{
	margin-top: 25px;
	margin-bottom: 25px;
}

.row.commands {
	margin-top: 10px;
}

.lb-role {
	font-size: 65%;
	margin-right: 3px;
}

.user-role{
	display: block;
}

.active {
	color: yellow;
}
