<navbar></navbar>

<div class="row" style="margin-top: 50px">
  <div class="col-lg-12">
    <h2>Create order</h2>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<order-form products="vm.products" groups="vm.groups" order="vm.order" on-save="vm.save()"></order-form>