<form class="form-horizontal" role="form" name="orderForm" ng-submit="vm.save()" novalidate>
  <div class="row">
    <div class="col-md-6">
      <fieldset>
        <legend>Pickup</legend>
        <!-- pickup name -->
        <div class="form-group">
          <label for="input-pickup-name" class="col-sm-2 control-label">Name:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="input-pickup-name" ng-model="vm.order.pickup.name">
          </div>
        </div>
        <!-- pickup telefon -->
        <div class="form-group">
          <label for="input-pickup-telefon" class="col-sm-2 control-label">Telefon:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="input-pickup-telefon" ng-model="vm.order.pickup.telephone">
          </div>
        </div>
        <!-- pickup note -->
        <div class="form-group">
          <label for="input-pickup-note" class="col-sm-2 control-label">Note:</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="input-pickup-note" ng-model="vm.order.pickup.note"></textarea>
          </div>
        </div>
        <!-- pickup street -->
        <div class="form-group">
          <label for="input-pickup-street" class="col-sm-2 control-label">Street:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="input-pickup-street" ng-model="vm.order.pickup.street">
          </div>
        </div>
        <!-- pickup postal-code & house-number -->
        <div class="form-group">
          <label for="input-pickup-postalcode" class="col-sm-2 control-label">Postal code:</label>
          <div class="col-sm-4">
             <input type="text" class="form-control" id="input-pickup-postalcode" ng-model="vm.order.pickup.postalcode">
          </div>
          <label for="input-pickup-house-number" class="col-sm-3 control-label">House number:</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="input-pickup-house-number" ng-model="vm.order.pickup.houseNumber">
          </div>
        </div>
        <!-- pickup city -->
        <div class="form-group">
          <label for="input-pickup-city" class="col-sm-2 control-label">City:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="input-pickup-city" ng-model="vm.order.pickup.city">
          </div>
        </div>
        <!-- pickup date-from -->
        <div class="form-group">
          <label for="input-pickup-date-from" class="col-sm-2 control-label">Date from:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="input-pickup-date-from" uib-datepicker-popup="dd.MM.yyyy" ng-model="vm.order.pickup.dateFrom">
          </div>
        </div>
        <!-- pickup date-to -->
        <div class="form-group">
          <label for="input-pickup-date-to" class="col-sm-2 control-label">Date to:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="input-pickup-date-to" uib-datepicker-popup="dd.MM.yyyy" ng-model="vm.order.pickup.dateTo">
          </div>
        </div>
      </fieldset>
    </div>

    <div class="col-md-6">
      <fieldset>
        <legend>Delivery</legend>
        <!-- delivery name -->
        <div class="form-group">
          <label for="input-delivery-name" class="col-sm-2 control-label">Name:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="input-delivery-name" ng-model="vm.order.delivery.name">
          </div>
        </div>
        <!-- delivery telefon -->
        <div class="form-group">
          <label for="input-delivery-telefon" class="col-sm-2 control-label">Telefon:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="input-delivery-telefon" ng-model="vm.order.delivery.telephone">
          </div>
        </div>
        <!-- delivery note -->
        <div class="form-group">
          <label for="input-delivery-note" class="col-sm-2 control-label">Note:</label>
          <div class="col-sm-10">
            <textarea class="form-control" id="input-delivery-note" ng-model="vm.order.delivery.note"></textarea>
          </div>
        </div>
        <!-- delivery street -->
        <div class="form-group">
          <label for="input-delivery-street" class="col-sm-2 control-label">Street:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="input-delivery-street" ng-model="vm.order.delivery.street">
          </div>
        </div>
        <!-- delivery postal-code & house-number -->
        <div class="form-group">
          <label for="input-delivery-postalcode" class="col-sm-2 control-label">Postal code:</label>
          <div class="col-sm-4">
             <input type="text" class="form-control" id="input-delivery-postalcode" ng-model="vm.order.delivery.postalcode">
          </div>
          <label for="input-delivery-house-number" class="col-sm-3 control-label">House number:</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" id="input-delivery-house-number" ng-model="vm.order.delivery.houseNumber">
          </div>
        </div>
        <!-- delivery city -->
        <div class="form-group">
          <label for="input-delivery-city" class="col-sm-2 control-label">City:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="input-delivery-city" ng-model="vm.order.delivery.city">
          </div>
        </div>
        <!-- delivery date-from -->
        <div class="form-group">
          <label for="input-delivery-date-from" class="col-sm-2 control-label">Date from:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="input-delivery-date-from" uib-datepicker-popup="dd.MM.yyyy" ng-model="vm.order.delivery.dateFrom">
          </div>
        </div>
        <!-- delivery date-to -->
        <div class="form-group">
          <label for="input-delivery-date-to" class="col-sm-2 control-label">Date to:</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" id="input-delivery-date-to" uib-datepicker-popup="dd.MM.yyyy" ng-model="vm.order.delivery.dateTo">
          </div>
        </div>  
      </fieldset>
    </div>
  </div>
  
  
  <fieldset>
    <div class="row">  
      <div class="col-md-6">
        <!-- code -->
        <div class="form-group">
  	    <label for="input-code" class="col-sm-2 control-label">Code:</label>
  	    <div class="col-sm-10">
  	      <input type="text" class="form-control" id="input-code" ng-model="vm.order.code">
  	    </div>
  	  </div>
      <!-- product -->
      <div class="form-group">
        <label for="input-product" class="col-sm-2 control-label">Product:</label>
        <div class="col-sm-10">
          <select class="form-control" id="input-product" ng-options="product.id as product.name for product in vm.products" ng-model="vm.order.product"></select>
        </div>
      </div>
        <!-- group -->
      <div class="form-group">
        <label for="input-group" class="col-sm-2 control-label">Group:</label>
        <div class="col-sm-10">
         <select class="form-control" id="input-group" ng-options="group.id as group.name for group in vm.groups" ng-model="vm.order.group"></select>
        </div>
      </div>
      <div class="col-md-6">
        <!-- price -->
        <div class="form-group">
          <label for="input-price" class="col-sm-2 control-label" style="padding-top: 8px"><strong>Price:</strong></label>
          <div class="col-sm-10">
            <span style="font-size: x-large;">{{vm.order.price | currency : "CZK " : 2}}</span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <a class="btn btn-success" ng-click="vm.updatePrice()">Update price</a> 
          </div>
        </div>        
    </div>    
  </fieldset>

  <fieldset>
    <legend>Packages</legend>
    <div class="row" ng-repeat="package in vm.order.packages">
       <div class="col-md-6">  
         <div class="form-group">
          <label for="input-weight" class="col-sm-2 control-label">Weight:</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="input-weight" ng-model="package.weight">
          </div>
          <label class="col-sm-2 control-label">H x W x D:</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="package.height">
          </div>   
          <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="package.width">
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control" ng-model="package.depth">
          </div>
        </div>
      </div>    
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-6">  
        <a class="btn btn-success package-button" ng-click="vm.addPackage()">Add package</a>
        <a class="btn btn-danger package-button" ng-click="vm.removePackage()">Remove package</a>
      </div>
    </div>     
  </fieldset>
  
  <div class="form-group">
    <div class="col-md-offset-1 col-md-10">
      <button type="submit" class="btn btn-success">Create order</button>
    </div>
  </div>
</form>
