<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="app.userprofile">Messe</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-show="nav.showFor('operator')">
                    <a ui-sref="app.consignment">Consignment</a>
                </li>
                <li ng-show="nav.showFor('operator')">
                    <a ui-sref="app.operator.order-create">Operator</a>
                </li>
                <li ng-show="nav.showFor()">
                    <a ui-sref="app.courier-turnovers">Courier turnovers</a>
                </li>
                <li ng-show="nav.showFor('courier')">
                    <a ui-sref="app.courier-orders">Courier</a>
                </li>
                <li ng-show="nav.showFor()">
                    <a ui-sref="app.user">Users</a>
                </li>
            </ul>

            <div class="nav navbar-nav navbar-right">
                <select name="userSelect" ng-model="nav.data.user" ng-change="nav.userChanged()">
                    <option value="2">Lionel (COURIER)</option>
                    <option value="3">Jonas (OPERATOR)</option>
                    <option value="4">James (ADMIN)</option>
                    <option value="5">Alex (COURIER)</option>
                </select>

                <select name="nodeSelect" ng-model="nav.data.node" ng-change="nav.nodeChanged()">
                    <option value="1">node 1</option>
                    <option value="2">node 2</option>
                </select>
            </div>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav>